  html body {
    background-color: #dee5df; 
  }
  
  
  header {
    position: relative;
    width: 100%;
    margin-top: 200px;
  }

  nav {
    border-bottom: 1.5px solid #ccc; 
    height: 65px;
  }
  .title {
    margin: 100px;
    margin-bottom: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
  }
  #loader {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  
  .search-box-advanced {
    margin: 100px;
  }

  #search-btn {
    background-color: #6fbe92;
  }

  #recording-instructions {
    margin-bottom: auto;
  }

  .search-box-movie {
    margin: 100px;
    margin-bottom: 60px;
  }

  #search-btn-movie {
    background-color: #6fbe92;
  }

  .upload-box {
    margin: 100px;
    margin-top: 20px;
    position: relative;
    left: auto;
  }
  
  #file-upload {
    background-color: #6fbe92;
  }

  .copyright {
    display:block;
    margin-top: 100px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }